<form [formGroup]="form">
  <div class="form-group">
    <label>Наименование</label>
    <input type="text"
           class="form-control"
           formControlName="name"
           placeholder="Введите наименование">
  </div>
  <div class="form-group">
    <label>Тренер</label>
    <select class = "form-control"
            formControlName="coach_id"
    >
      <option value="" selected *ngIf="!team.id">Выбрать тренера</option>
      <option  *ngFor="let el of coaches" [value]="el.id">{{el.name}}</option>
    </select>
  </div>
  <button [disabled]="!form.valid"
          (click)="onValid()"
          type="submit"
          class="btn btn-primary btn-block">Сохранить
  </button>
</form>
