<form [formGroup]="form">
  <div class="form-group">
    <label>Наименование</label>
    <input type="text"
           class="form-control"
           formControlName="name"
           required
           placeholder="Наименование">
    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
  </div>
  <div class="form-group">
    <label>Контент</label>
    <ckeditor [editor]="Editor"
              formControlName="content"
              class="ckeeditor"
              required></ckeditor>
  </div>
  <div class="form-group">
    <label>Тип урока</label>
    <select class="form-control" formControlName="lesson_type_id" required>
      <option>Выберите тип урока</option>
      <option *ngFor="let lessonType of lessonTypes" [value]="lessonType.id">{{lessonType.name}}</option>
    </select>
  </div>
  <button [disabled]="!form.valid"
          (click)="onValid()"
          type="submit"
          class="btn btn-primary btn-block">Сохранить
  </button>
</form>
