<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Наименование</th>
    <th scope="col">Тренер</th>
    <th scope="col">Действия</th>
  </tr>
  </thead>
  <tbody *ngIf="teamPageWrapper">
  <tr *ngFor=" let el of teamPageWrapper.data">
    <th scope="row">{{el.id}}</th>
    <th>{{el.name}}</th>
    <th>{{el.coach.name}}</th>
    <td>
      <a [routerLink]="'/teams/edit/' + el.id">
        <span class="fa fa-edit"></span>
      </a>
    </td>
  </tr>
  </tbody>
  <tfoot *ngIf="teamPageWrapper && teamPageWrapper.last_page > 1">
  <nav class="mt-4">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{'disabled' : teamPageWrapper.current_page == 1}">
        <a (click)="changePage(teamPageWrapper.current_page - 1)" class="page-link">
          <span class="fa fa-arrow-left"></span>
        </a>
      </li>
      <li class="page-item" *ngFor="let item of createRange(teamPageWrapper.last_page);"
          [ngClass]="{'active' : teamPageWrapper.current_page  == item}">
        <button [disabled]="teamPageWrapper.current_page == item"
                (click)="changePage(item)"
                class="page-link">{{item}}</button>
      </li>
      <li class="page-item" [ngClass]="{'disabled' : teamPageWrapper.current_page == teamPageWrapper.last_page}">
        <a (click)="changePage(teamPageWrapper.current_page + 1)" class="page-link">
          <span class="fa fa-arrow-right"></span>
        </a>
      </li>
    </ul>
  </nav>
  </tfoot>
</table>
