<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Точки отправки и получения</h1>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Активность</h6>
            </div>
            <div class="card-body">
                <a routerLink="main" class="btn btn-google btn-block">
                    <i class="fa fa-map"></i> Создать пункты доставки и отправки</a>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>